$primaire: #9356DC;
$secondaire: #FF79DA;
$tertiaire: #99E2D0;

.loading-spinner {
    position: fixed;
    background-color: #ffffff;
    height: 100vh;
    inset:0;
    z-index: 1;
    opacity: .9;
    animation: disappear 600ms;
    animation-fill-mode: forwards;
    animation-delay: 2.5s;
    transform-origin: top;
    display: flex;
    justify-content: center;
    align-items: center;

         &::after {
            content: "";
            width: 100px;
            height: 100px;
            border: 10px solid transparent; 
            border-top-color:$primaire;
            border-right-color: $tertiaire;
            border-bottom-color: $secondaire;
            border-left-color:$primaire;

            border-radius: 35%;
            animation: loading 1s ease-in-out infinite;
         }
}

@keyframes disappear {
    to {
    transform: scale(0);
    }
}

@keyframes loading {
    to {
        transform: rotate(1turn);
    }
}