@import "./Utils/variables";
@import "./Base/body";
@import "./Layouts/header";
@import "./Layouts/titre-carte-restaurant";
@import "./Layouts/footer-cards-menu";
@import "./Layouts/check-restaurant";
@import "./Layouts/footer";
@import "./Pages/button-order";

/*  KeyFrames ARRIVED for menu */
.menu__entrees {
    animation: arrived 1400ms backwards;
}
.menu__plats {
    animation: arrived 1200ms backwards;
}
.menu__desserts {
    animation: arrived 1000ms backwards;

}
@keyframes arrived {
    from {
        opacity: 0;
        transform: translateY(-100px);
    }
    
    to {
        opacity: 1;
        transform: translateY(0);
    }
}





