body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* HEADER */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .header__logo {
  height: 62px;
  display: flex;
}
.header .header__logo img {
  width: 155px;
  height: 30px;
  font-family: "Shrikhand", cursive;
  margin: 15px auto;
}

.header__arrow__left {
  padding-right: 0px;
}

.img-menu {
  width: 100%;
  height: 16rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu {
  background-color: chartreuse;
}
.menu h2 {
  margin: 0px;
  font-family: "Shrikhand", cursive;
}

.menu__entrees, .menu__plats, .menu__desserts {
  background-color: darkcyan;
  height: 65px;
  width: 90%;
  border-radius: 10px;
  background-color: rgb(251, 248, 247);
  margin: auto;
}

h4 {
  padding: 10px 10px 0px;
  margin-bottom: 0px;
  line-height: 20px;
  color: #312d2d;
}

.menu__descriptif {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px 0px;
}
.menu__descriptif p {
  margin: 0px;
  color: rgb(132, 120, 120);
}