/* *********** VARIABLES SASS ********* */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* HEADER */
.header {
  display: flex;
  align-items: center;
}
.header img {
  height: 1.8rem;
  font-family: "Shrikhand", cursive;
  margin: 1rem 4rem;
}
.header a {
  padding-left: 1.8rem;
}
.header .fa-solid {
  font-size: x-large;
  color: #000;
}

/* MENU */
.img-menu {
  width: 100%;
  height: 16rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.title-and-heart {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.title-and-heart .title-and-heart__heart {
  padding: 0rem 2.5rem;
}
.title-and-heart .title-and-heart__heart:hover {
  padding: 0rem;
  color: transparent;
  transition: all 350ms;
}

h2 {
  margin: 1rem -1rem 2rem 1rem;
  font-family: "Shrikhand", cursive;
  font-size: 1.7rem;
  font-weight: 300;
}

.container-menu {
  background-color: #eae9e9;
  border-radius: 45px 45px 0px 0px;
  transform: translateY(-55px);
}

.menu {
  background-color: rgb(235, 238, 232);
}

h3 {
  font-size: 1rem;
  color: #666262;
  font-weight: 300;
  margin: 0;
  padding-left: 1.3rem;
  padding-bottom: 0.25rem;
  margin-top: 2rem;
}

.menu__entrees, .menu__plats, .menu__desserts {
  background-color: darkcyan;
  height: 4rem;
  width: 90%;
  border-radius: 10px;
  background-color: rgb(251, 248, 247);
  margin: auto;
}

.tiret-vert {
  background-color: #99E2D0;
  height: 0.2rem;
  width: 2.5rem;
  margin-left: 1.3rem;
}

h4 {
  padding: 10px 10px 0px;
  margin-bottom: 0px;
  line-height: 20px;
  color: #312d2d;
}

.menu__descriptif {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px 10px 0px 10px;
  font-size: 0.9rem;
}
.menu__descriptif p {
  margin: 0px;
  color: rgb(57, 54, 54);
}

.commander {
  background: linear-gradient(170deg, #ff79da, #9356dc);
  height: 3rem;
  border-radius: 50px;
  margin: 2.5rem 6rem;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  box-shadow: 2px 6px 2px #e3d5d5;
  border: none;
  padding: 0px 3rem;
}

.commander:hover {
  background: linear-gradient(170deg, #ff79da, #b8a2d2);
  box-shadow: 0.1rem 0.35rem #c3c6be;
}

/* *************** FOOTER *************** */
.footer {
  background-color: rgb(60, 53, 53);
  color: white;
  height: 150px;
  font-size: 14px;
  font-weight: 500;
  padding-left: 20px;
}
.footer a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  margin: 0.5rem 0;
}
.footer .footer__img {
  height: 20px;
  width: 30%;
  color: white;
  margin-top: 15px;
}

.footer__fourchette,
.footer__hands {
  display: flex;
  justify-content: flex-start;
  margin: 0.5rem auto;
}
.footer__fourchette .footer__fourchette__icon-ustensile,
.footer__hands .footer__fourchette__icon-ustensile {
  margin-right: 12px;
}
.footer__fourchette .footer__hands__shake-hands,
.footer__hands .footer__hands__shake-hands {
  margin-right: 10px;
}

.footer__mentions-legales,
.footer__contact {
  margin: 0.5rem auto;
}