body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* LOGO */
.logo {
  height: 62px;
  display: flex;
  align-items: center;
  margin: 4px 0px 4px 0px;
}
.logo img {
  width: 155px;
  height: 30px;
  font-family: "Shrikhand", cursive;
  margin: 15px auto;
}

/* LOCATION */
.location {
  display: flex;
  align-items: center;
  background-color: rgb(230, 227, 227);
  border-top: 3px solid #cecece;
}
.location > p {
  font-size: 15px;
  margin: 14px 0px;
  font-weight: bold;
  color: #534f4f;
}

.fa-location-dot {
  padding-left: 105px;
  padding-right: 20px;
}

/* EXPLORATION */
.exploration {
  height: 15rem;
  display: flex;
  flex-direction: column;
  background-color: #f0ecec;
}
.exploration h2 {
  width: 65%;
}
.exploration p {
  width: 82%;
  font-size: 1.1rem;
  color: gray;
}

.exploration__button {
  background: linear-gradient(170deg, #ff79da, #9356dc);
  height: 50px;
  border-radius: 50px;
  margin: 0px auto;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  box-shadow: 2px 6px 2px #e3d5d5;
  border: none;
  padding: 0px 20px;
}

/* *************** FONCTIONNEMENT **************** */
.choix-restaurant {
  height: 70px;
  width: 90%;
  margin: 0px auto;
  margin-bottom: 0px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 20px;
  border-radius: 20px;
  box-shadow: 3px 7px 5px rgb(189, 192, 185);
}
.choix-restaurant span {
  background-color: #9356DC;
  padding: 5px 10px;
  border-radius: 25px;
}
.choix-restaurant .fa-mobile-screen-button, .choix-restaurant .fa-list-ul {
  color: grey;
}
.choix-restaurant .fa-store {
  color: #9356DC;
}

/* *************** PARTIE RESTAURANT **************** */
.restaurant {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}
.restaurant a {
  text-decoration: none;
}
.restaurant .restaurant__name {
  width: 90%;
  margin: 20px auto;
}

h2 {
  padding-left: 20px;
  color: black;
}

h3 {
  padding-left: 20px;
}

.restaurant__cadre-image__img {
  width: 100%;
  height: 11rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}

.restaurant__name__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4.6rem;
  border-radius: 0px 0px 20px 20px;
  background-color: darkorange;
}
.restaurant__name__footer .fa-heart {
  color: #9356DC;
}

.restaurant__name__footer__lieu {
  color: black;
}

/* *************** FOOTER *************** */
.footer {
  background-color: rgb(60, 53, 53);
  color: white;
  height: 150px;
  font-size: 14px;
  font-weight: 500;
  padding-left: 20px;
}
.footer a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
}

.footer__img {
  height: 20px;
  width: 30%;
  color: white;
  margin-top: 15px;
}

.footer__fourchette, .footer__hands {
  display: flex;
  justify-content: flex-start;
}
.footer__fourchette .footer__fourchette__icon-ustensile, .footer__hands .footer__fourchette__icon-ustensile {
  margin-right: 12px;
}
.footer__fourchette .footer__hands__shake-hands, .footer__hands .footer__hands__shake-hands {
  margin-right: 10px;
}