body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* ********** LOGO ********** */
.logo {
  text-align: center;
}
.logo img {
  width: 9rem;
  height: 1.75rem;
  font-family: "Shrikhand", cursive;
  margin: 0.85rem auto;
}

/* ********** LOCATION ********** */
.location {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(240, 236, 236);
  border-top: 3px solid #cecece;
}
.location p {
  font-weight: 700;
  color: #534f4f;
  margin-left: 1rem;
}
.location .fa-solid {
  color: #403737;
}

/* ********** EXPLORATION ********* */
.exploration {
  height: 15rem;
  display: flex;
  flex-direction: column;
  background-color: #f0ecec;
}
.exploration h2 {
  width: 65%;
}
.exploration p {
  width: 82%;
  font-size: 1.1rem;
  color: gray;
}

/* *************** FONCTIONNEMENT **************** */
/* *************** PARTIE RESTAURANT **************** */
/* *************** FOOTER *************** */