body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* LOGO PAGE */
.logo {
  text-align: center;
}
.logo img {
  width: 9rem;
  height: 1.75rem;
  margin: 0.85rem auto;
}

/* LOCATION RESTAURANT */
.location {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(236, 233, 233);
  border-top: 3px solid #cecece;
}
.location p {
  font-weight: 700;
  color: #534f4f;
  margin: 0.95rem 1rem;
}
.location .fa-solid {
  color: #403737;
}

/* EXPLORER NOS RESTAURANTS */
.exploration {
  height: 18rem;
  display: flex;
  flex-direction: column;
  background-color: #f9f3f3;
}
.exploration h2 {
  margin: 2rem 0rem 0rem;
  text-align: center;
}
.exploration .exploration__second-h2 {
  margin: 0;
}
.exploration p {
  margin: 1rem 0rem 2rem;
  font-size: 1.1rem;
  color: #716f6f;
  text-align: center;
}
.exploration__button {
  background: linear-gradient(170deg, #ff79da, #9356dc);
  border-radius: 50px;
  margin: 0rem 5rem 3.5rem;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  box-shadow: 2px 6px 2px #e3d5d5;
  border: none;
  padding: 1.09rem 1.3rem;
}
.exploration__button:hover {
  background: linear-gradient(170deg, #ff79da, #b8a2d2);
  box-shadow: 0.1rem 0.35rem #c3c6be;
}

/* FONCTIONNEMENT */
.title-above-fonctionnement {
  margin: 2rem 0.5rem;
}

.fonctionnement {
  width: 90%;
  margin: 0 auto;
}

.choix-restaurant {
  height: 4.2rem;
  margin: 0px auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
  border-radius: 20px;
  background-color: rgba(210, 204, 204, 0.21);
  box-shadow: 3px 7px 5px rgb(204, 208, 199);
  position: relative;
}
.choix-restaurant:hover {
  background-color: #fff;
  box-shadow: 3px 7px 5px rgb(158, 160, 155);
}
.choix-restaurant span {
  background-color: #9356DC;
  padding: 2px 7px;
  border-radius: 25px;
  color: #fff;
  position: absolute;
  left: -0.5rem;
  font-size: 0.9rem;
}
.choix-restaurant__icon {
  display: flex;
  align-items: center;
  margin-left: -3rem;
}
.choix-restaurant h4 {
  padding-left: 1.5rem;
}
.choix-restaurant .fa-solid, .choix-restaurant .fa-list-ul {
  font-size: 1.2rem;
  color: #9356DC;
}
.choix-restaurant .fa-store, .choix-restaurant .fa-mobile-screen-button, .choix-restaurant .fa-list-ul {
  color: grey;
}
.choix-restaurant .fa-store:hover, .choix-restaurant .fa-mobile-screen-button:hover, .choix-restaurant .fa-list-ul:hover {
  color: #9356DC;
}

/* RESTAURANT CARDS */
.restaurant {
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
  background-color: #f2f0f0;
}
.restaurant a {
  text-decoration: none;
}
.restaurant__name {
  width: 90%;
  margin: 20px auto;
  border: 1px solid rgba(128, 128, 128, 0.1803921569);
  border-radius: 15px;
}
.restaurant__name--bottom {
  margin-bottom: 4rem;
}

h2 {
  padding-left: 20px;
  color: black;
  margin-top: 3rem;
  margin-bottom: 0;
}

h3 {
  padding-left: 20px;
}

.restaurant__cadre-image__img {
  width: 100%;
  height: 165px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px 15px 0px 0px;
}

.restaurant__cadre__image__new {
  position: absolute;
  right: 0.9rem;
  top: 0rem;
  background-color: #99E2D0;
  text-align: center;
  z-index: 1;
  color: rgba(61, 70, 48, 0.5098039216);
  font-weight: 700;
  width: 5rem;
  height: 1.5rem;
  font-size: 0.9rem;
  padding-top: 0.2rem;
  border-radius: 2px;
}

.restaurant__cadre-image {
  position: relative;
}

.restaurant__name__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4.3rem;
}
.restaurant__name__footer__heart {
  height: 1.5rem;
  position: relative;
  width: 2.5em;
  font-size: xx-large;
}
.restaurant__name__footer__heart .fa-solid {
  opacity: 0;
  left: 0;
  position: absolute;
  text-align: center;
  width: 100%;
}
.restaurant__name__footer__heart .fa-regular {
  position: absolute;
  text-align: center;
  width: 100%;
  transition: all 350ms;
}

.heart {
  font-size: x-large;
}
.heart:hover {
  background: linear-gradient(to bottom left, #9356dc, #ff79da);
  background-clip: border-box;
  background-clip: text;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  opacity: 1;
  -webkit-text-fill-color: transparent;
}

.restaurant__name__footer__lieu {
  color: black;
  margin-left: 0.75rem;
}
.restaurant__name__footer__lieu p {
  margin: 0;
}
.restaurant__name__footer__lieu h3 {
  margin: 0 0 0.25rem 0;
  padding: 0;
}

/* *************** FOOTER *************** */
.footer {
  background-color: rgb(60, 53, 53);
  color: white;
  height: 11rem;
  font-size: 14px;
  font-weight: 500;
  padding-left: 20px;
}
.footer a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  margin: 0.5rem 0;
}
.footer h5 {
  font-size: 1.1rem;
  margin: 0;
  padding: 1rem 0 0.6rem;
  font-family: "Shrikhand", cursive;
  font-weight: 100;
}

.footer__fourchette, .footer__hands {
  display: flex;
  justify-content: flex-start;
  margin: 0.5rem auto;
}
.footer__fourchette .footer__fourchette__icon-ustensile, .footer__hands .footer__fourchette__icon-ustensile {
  margin-right: 1rem;
}
.footer__fourchette .footer__hands__shake-hands, .footer__hands .footer__hands__shake-hands {
  margin-right: 10px;
}

.footer__mentions-legales, .footer__contact {
  margin: 0.5rem auto;
}