/* *********** VARIABLES SASS ********* */
$primaire: #9356DC;
$secondaire:#FF79DA;
$tertiaire: #99E2D0;


body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* ********** LOGO ********** */
.logo {
    text-align: center;

    img {
        width: 9rem;
        height: 1.75rem;
        font-family: "Shrikhand", cursive;
        margin: 0.85rem auto;
    }
}

/* ********** LOCATION ********** */

.location {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(236, 233, 233);   
    border-top: 3px solid #cecece;

    p {
        font-weight: 700;
        color: #534f4f;
        margin: 0.95rem 1rem;
    }

    .fa-solid {
        color: #403737;
    }
}

/* ********** EXPLORATION ********* */

.exploration {
    height: 18rem;
    display: flex;
    flex-direction: column;
    background-color: #f9f3f3;

    h2 {
        margin: 2rem 0rem 0rem;
        text-align: center;
    }
    .exploration__second-h2 {
        margin: 0;
    }
    p {
        margin: 1rem 0rem 2rem;
        font-size: 1.1rem;
        color: #716f6f;
        text-align: center;
    }
}

.exploration__button {
    background: linear-gradient(170deg, #ff79da, #9356dc);
    height: 3rem;
    border-radius: 50px;
    margin: 0rem 5rem;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    box-shadow: 2px 6px 2px #e3d5d5;
    border: none;
    padding: 0px 1.25rem;
}


/* *************** FONCTIONNEMENT **************** */
.title-above-fonctionnement {
    margin: 2rem 0.5rem;
}

.fonctionnement {
    width: 90%;
    margin: 0 auto;
}
.choix-restaurant {
    height: 4.2rem;
    width: 90%;
    margin: 0px auto;
    margin-bottom: 0px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 20px;
    background-color: #edf7edb3;
    box-shadow: 3px 7px 5px rgb(189, 192, 185);

        span {
            background-color: $primaire;
            padding: 2px 7px;
            border-radius: 25px;
            color: #fff;
            position: relative;
            left: -2rem;
            font-size: 0.9rem;
        }

        .fa-mobile-screen-button, .fa-list-ul {
            color: grey;
        }

        .fa-store {
            color: $primaire ;
        }
}

/* *************** PARTIE RESTAURANT **************** */
.restaurant {
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
    background-color: #f2f0f0;

    a {
        text-decoration: none;
    }
    .restaurant__name {
        width: 90%;
        margin: 20px auto;
    }
}

h2 {
    padding-left: 20px;
    color: black;
}

h3 {
    padding-left: 20px;

}

.restaurant__cadre-image__img {
    width: 100%;
    height: 11rem;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.restaurant__cadre__image__new {
    position: absolute;
    right: 1rem;
    top: 1rem;
    background-color: rgb(175, 130, 24);
    text-align: center;
    z-index: 1;
    color: greenyellow;
    width: 6rem;
    height: 2rem;
}

.restaurant__cadre-image {
    position: relative;
}

.restaurant__name__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4.6rem;
    border: 1px solid grey;
    border-radius: 0px 0px 15px 15px;
}

.fa-heart {
            color: rgb(148, 25, 25);
            width: 22px;
        }
.fa-heart:hover {
    color: $primaire;
}


.restaurant__name__footer__lieu {
    color: black;
    margin-left: 0.75rem;

    p {
        margin: 0;
    }

    h3 {
        margin: 0;
        padding: 0;
    }
}
.restaurant__name__footer__heart {
    width: 22px;
    height: 22px;
}
/* *************** FOOTER *************** */

.footer {
    background-color: rgb(60, 53, 53);
    color: white;
    height: 150px;
    font-size: 14px;
    font-weight: 500;
    padding-left: 20px;
    
    a {
        text-decoration: none;
        color: white;
        font-size: 1rem;
        margin: 0.5rem 0;
    }

    .footer__img {
        height: 20px;
        width: 30%;
        color: white;
        margin-top: 15px;
    }
}

.footer__fourchette, .footer__hands {
    display: flex;
    justify-content: flex-start;
    margin: 0.5rem auto;

    .footer__fourchette__icon-ustensile {
        margin-right: 12px;
    }
    .footer__hands__shake-hands {
        margin-right: 10px;
    }
}

.footer__mentions-legales, .footer__contact {
    margin: 0.5rem auto;
}