.button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.commander {
    background: linear-gradient(170deg, #ff79da, #9356dc);
    height: 3rem;
    border-radius: 50px;
    margin: 2.5rem 6rem;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    box-shadow: 2px 6px 2px #e3d5d5;
    border: none;
    padding: 0px 3rem;

    &:hover {
        background: linear-gradient(170deg, #ff79da, #b8a2d2);
        box-shadow: 0.1rem 0.35rem #c3c6be;
    }
}