/* RESTAURANT CARDS */
.restaurant {
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
    background-color: #f2f0f0;

    a {
    text-decoration: none;
    }

    &__name {
        width: 90%;
        margin: 20px auto;
        border: 1px solid rgba(128, 128, 128, 0.1803921569);
        border-radius: 15px;
        background-color: white;

        &--bottom {
            margin-bottom: 4rem;
        }
    }
}

h2 {
    padding-left: 20px;
    margin-top: 3rem;
    margin-bottom: 0;
}

h3 {
    padding-left: 20px;
}

.restaurant__cadre-image__img {
    width: 100%;
    height: 165px;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
}
// Mise en forme cadre Nouveau
.restaurant__cadre__image__new {
    position: absolute;
    right: 0.9rem;
    top: 0rem;
    background-color: #99e2d0;
    text-align: center;
    z-index: 1;
    color: #008766;
    font-weight: 700;
    width: 5rem;
    height: 1.5rem;
    font-size: 0.9rem;
    padding-top: 0.2rem;
    border-radius: 2px;
}

.restaurant__cadre-image {
    position: relative;
}

.restaurant__name__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4.3rem;

    &__heart {
            height: 1.5rem;
            position: relative;
            width: 2.5em;
            font-size: xx-large;
    
            .fa-solid {
                opacity: 0;
                left: 0;
                position: absolute;
                text-align: center;
                width: 100%;
            }
    
            .fa-regular {
                position: absolute;
                text-align: center;
                width: 100%;
                transition: all 350ms;
            }
        }
}
// Mise en forme du hover sur le coeur
.heart {
    font-size: x-large;

    &:hover {
        background: linear-gradient(to bottom left, #9356dc, #ff79da);
        background-clip: border-box;
        background-clip: text;
        -moz-background-clip: text;
        -webkit-background-clip: text;
        opacity: 1;
        -webkit-text-fill-color: transparent;
    }
}

.restaurant__name__footer__lieu {
    color: black;
    margin-left: 0.75rem;

    p {
        margin: 0;
    }

    h3 {
    margin: 0 0 0.25rem 0;
    padding: 0;
    }
}
