.location {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(236, 233, 233);
    border-top: 3px solid #cecece;
    
    #location {
        margin: 0.95rem  1rem;
        font-weight: 700;
        color: #4f4a4a;
        background-color:rgb(236, 233, 233);
        border: none;
        font-size: .85rem;
    }

    .label-location {
        margin-left: 4.5rem;
    }
}

.location .fa-solid {
    color: #403737;
}