/* CHECK RESTAURANT */
.choix-restaurent__check {
    background-color: #99e2d0;
    width: 3.5rem;
    border-radius: 0px 10px 10px 0px;
    text-align: center;
    padding: 1.38rem 0rem;
    cursor: pointer;
    transform: translateX(100px);
    transition: all 500ms;
    flex: 0%;

        &:hover>.fa-circle-check {
            transform: rotate(0deg);
        }

    .fa-circle-check {
        font-size: 1.2rem;
        color: white;
        transform: rotate(359deg);
        transition: transform 700ms;
    }
}
